<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.co.workingedge.phonegap.plugins.example.compassaccuracy" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Compass Accuracy example</name>
    <description>
        An example project which illustrates use of the Cordova Compass Accuracy Plugin
    </description>
    <author email="dave@workingedge.co.uk">
        Dave Alden
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="false" />
    <platform name="android" />
</widget>
